<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<userSettings>
		<Feuerlöscher_Manager.My.MySettings>
			<setting name="printerThermo" serializeAs="String">
				<value />
			</setting>
			<setting name="printerEti" serializeAs="String">
				<value />
			</setting>
			<setting name="printerA6" serializeAs="String">
				<value />
			</setting>
			<setting name="Druckvorschau" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Thermodrucker" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="A6drucker" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FF_Name" serializeAs="String">
				<value>Freiwillige Feuerwehr Wallern</value>
			</setting>
			<setting name="FF_Adresse" serializeAs="String">
				<value>Kienzlstraße 10</value>
			</setting>
			<setting name="FF_PLZ_Ort" serializeAs="String">
				<value>4702 Wallern an der Trattnach</value>
			</setting>
			<setting name="FF_website" serializeAs="String">
				<value>www.feuerwehr-wallern.at</value>
			</setting>
			<setting name="FF_banner" serializeAs="String">
				<value />
			</setting>
			<setting name="Password" serializeAs="String">
				<value>admin</value>
			</setting>
			<setting name="EtiArt" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="BetragFeuerwehr" serializeAs="String">
				<value>6</value>
			</setting>
			<setting name="BetragFirma" serializeAs="String">
				<value>6</value>
			</setting>
			<setting name="BetragKunde" serializeAs="String">
				<value>12</value>
			</setting>
			<setting name="NextRNummer" serializeAs="String">
				<value>21001</value>
			</setting>
			<setting name="AfterRestart" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Autoprint" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Thermodrucker_PrintLogo" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LastMode" serializeAs="String">
				<value>AG</value>
			</setting>
			<setting name="AskPasswd" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="BetragRabatt" serializeAs="String">
				<value>6</value>
			</setting>
			<setting name="AHSwithBarcode" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Thermodrucker_epson" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Thermodrucker_PrintLogo_Nr" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="FF_TelNr" serializeAs="String">
				<value>+437249-487780</value>
			</setting>
			<setting name="Thermodrucker_LogoBildPfad" serializeAs="String">
				<value />
			</setting>
		</Feuerlöscher_Manager.My.MySettings>
	</userSettings>
</configuration>